

.containerPizza {
    text-align: center;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.itemPizza {
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: lightyellow;
    border-radius: 10px;
    margin: 10px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Ajouter une ombre pour un meilleur effet visuel */
    padding: 10px;


}



.itemPizza img {

    border-radius: 10px;


}

.itemPizza h2 {

    font-family: 'Lilita One', serif;

}

.itemPizza p {
    
    font-family: 'Mukta', sans-serif;


}

.itemPizza button {
    font-family: 'Lilita One', serif;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    transition: 0.3s;
    text-align: center;


}

.itemPizza button:hover {

    transition: 0.3s;
    transform: scale(1.2);
}
